nav.navbar {
    background-color: var(--dark-gray);
    padding: 0 20px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav li {
    position: relative;
    margin-right: 15px;
}

.navbar-nav li a {
    position: relative;
    text-decoration: none;
    color: var(--gray);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    transition: none !important;
}

.navbar-nav li a:hover {
    color: var(--white);
    background-color: var(--dark);
}

.active a{
    color: var(--white) !important;
    background-color: var(--dark) !important;
}

/* ABINHA ESQUERDA */
.navbar-nav li a:hover::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark-gray);
    position: absolute;
    bottom: 0;
    left: -15px;
    border-bottom-right-radius: 20px;
}

.navbar-nav li:hover::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    left: -15px;
}

.active a::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark-gray);
    position: absolute;
    bottom: 0;
    left: -15px;
    border-bottom-right-radius: 20px;
}

.active::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    left: -15px;
}

/* ABINHA DIREITA */
.navbar-nav li:hover::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 0;
}

.navbar-nav li a:hover::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark-gray);
    position: absolute;
    bottom: 0;
    right: -15px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.active::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 0;
}

.active a::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--dark-gray);
    position: absolute;
    bottom: 0;
    right: -15px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.input {
    display: flex;
    align-items: center;
}

#navbarCollapse {
    position: relative;
}

#search-bar {
    font-weight: bold;
    color: var(--dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-bar input {
    border-radius: 10px;
}

/* Serach Bar */
#search-bar input {
    width: 300px;
    border-radius: 15px;
    padding: 0 30px 0 30px;
    outline: none;
    border: none;
    transition: width 0.9s ease;
}

#search-bar .input-wrapper.input {
    position: relative;
    display: inline-block;
}

#search-bar i {
    position: absolute;
    right: 10px;
    top: 10px;

    transform: rotate(90deg); /* Girar a lupa*/

    color: var(--dark);
}

#search-bar input:hover {
    width: 600px;
}

#config {
    color: var(--secondary);
    background-color: var(--dark);
    display: flex;
    border-radius: 100%;
    line-height: normal;
    padding: 0.2rem !important;
}
